 <h1 class="text-2xl font-bold mb-4">EDIT</h1>
 <form action="/suppliers/{{supplier.id}}/update" method="POST">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
        <div class="bg-white p-6 rounded-lg shadow">
            <div class="grid grid-cols-1 md:grid-cols-1 gap-4">
              <div>
                <label for="name" class="block text-sm font-medium text-gray-700">Name:</label>
                <input type="text" id="name" name="name" value="{{supplier.name}}" class="mt-1 p-2 w-full border border-gray-300 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                {{#if errors}}
                  {{#each errors}}
                      {{#if (eq this.path 'name')}}
                          <span class="error">{{this.msg}}</span>
                      {{/if}}
                  {{/each}} 
                {{/if}}
              </div>
              <div>
                <label for="contact_name" class="block text-sm font-medium text-gray-700">Contact Name:</label>
                <input type="text" id="contact_name" name="contact_name" value="{{supplier.contact_name}}" class="mt-1 p-2 w-full border border-gray-300 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                {{#if errors}}
                  {{#each errors}}
                      {{#if (eq this.path 'contact_name')}}
                          <span class="error">{{this.msg}}</span>
                      {{/if}}
                  {{/each}} 
                {{/if}}
              </div>

               <div>
                <label for="phone_number" class="block text-sm font-medium text-gray-700">Phone Number:</label>
                <input type="text" id="phone_number" name="phone_number" value="{{supplier.phone_number}}" class="mt-1 p-2 w-full border border-gray-300 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                {{#if errors}}
                  {{#each errors}}
                      {{#if (eq this.path 'phone_number')}}
                          <span class="error">{{this.msg}}</span>
                      {{/if}}
                  {{/each}} 
                {{/if}}
              </div>
            
            </div>
        </div>
        <div class="bg-white p-6 rounded-lg shadow">
            <div class="grid grid-cols-1 md:grid-cols-1 gap-4">

               <div>
                <label for="email" class="block text-sm font-medium text-gray-700">Email:</label>
                <input type="email" id="email" name="email" value="{{ supplier.email }}" class="mt-1 p-2 w-full border border-gray-300 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                {{#if errors}}
                  {{#each errors}}
                      {{#if (eq this.path 'email')}}
                          <span class="error">{{this.msg}}</span>
                      {{/if}}
                  {{/each}} 
                {{/if}}
              </div>

              <div>
                <label for="address" class="block text-sm font-medium text-gray-700">Address</label>
                <textarea id="address" name="address" class="mt-1 p-2 w-full border border-gray-300 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">{{ supplier.address }}</textarea>
                {{#if errors}}
                  {{#each errors}}
                      {{#if (eq this.path 'address')}}
                          <span class="error">{{this.msg}}</span>
                      {{/if}}
                  {{/each}} 
                {{/if}}
              </div>

            </div>
            <hr/>
            <div class="mt-4">
                <a href="/suppliers" class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded"> <i class="fas fa-plus"></i>Cancel</a>
                <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded"><i class="fas fa-plus"></i>Update</button>
            </div>
        </div>
    </div>
  </form>
